footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(144,212,197);
}

.footer__logo {
    margin-top: toRem(50);
    margin-bottom: toRem(30);
}

.footer__links {
    display: flex;
    align-items: center;
    gap: toRem(60);
    margin-bottom: toRem(70);


    &Item {
        text-decoration: none;
        font-family: $textFont;
        color: $dmCyan;
        font-size: toRem(14);

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

.footer__socials {
    display: flex;
    gap: toRem(40);
    margin-bottom: toRem(40);
}