.header {
    background-image: url('../../assets/images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75%;

    &__navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: toRem(15);
        gap: toRem(40);

        &Top {
            display: flex;
            justify-content: space-between;
            margin-top: toRem(10);
        }

        &Right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &Bottom {
            display: flex;
            flex-direction: column;
            gap: toRem(30);
            font-family: $textFont;
            align-self: center;
            align-items: center;
            background-color: white;
            width: 100%;
            padding: toRem(60) 0;
            position: relative;
            max-width: toRem(345);
            top: 200%;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                z-index: 1;
                border-style: solid;
                border-width: 0 0 20px 20px;
                border-color: transparent transparent  white transparent;
                bottom: toRem(337);
                left: 90%;
                margin-left: toRem(14);
            }

            &Link {
                color: $gBlue;
                text-decoration: none;
            }

            &Button {
                display: flex;
                justify-content: center;
                background-color: $yellow;
                padding: toRem(20);
                border-radius: toRem(50);
                width: 50%;
                font-family: $headerFont;
                font-size: toRem(13);
                color: $ddCyan;
            }

        }
    }
}

.showNav {
    display: flex;
}