.transform {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__pictureSectionItem {
        width: 100%;

        &.desktop {
            display: none;
        }
    }

    &__textSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: toRem(50);

        &Item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        &Header {
            font-family: $headerFont;
            font-size: toRem(35);
            color: $vddBlue;
            margin-bottom: toRem(25);
            max-width: toRem(375);
        }

        &Paragraph {
            font-family: $textFont;
            color: $gBlue;
            font-weight: 700;
            font-size: toRem(18);
            margin-bottom: toRem(30);
            width: 85%;
            max-width: toRem(375);
        }

        &Link {
            font-family: $headerFont;
            color: $vddBlue;
            text-decoration: underline toRem(3) $yellow;
            margin-bottom: toRem(50);
        }
    }
}

// Breakpoints 
@media (min-width: $breakDesktop) {
    .transform {
        flex-direction: row-reverse;

        &__pictureSection {
            width: 50%;

            &Item {
                display: none;
    
                &.desktop {
                    display: block;
                    width: 100%;
                }
            }
        }

        &__textSection {
            width: 50%;
            text-align: left;
            align-items: center;
            justify-content: center;

            &Item {
                align-items: flex-start;
            }

            &Header {
                font-size: toRem(45);
            }

            &Paragraph {
                font-size: toRem(20);
                max-width: toRem(450);
            }
        }
    }
}

