// Colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$ddCyan: hsl(167, 40%, 24%); // Graphic design text
$darkBlue: hsl(198, 62%, 26%); // Photography text
$dmCyan: hsl(168, 34%, 41%); // Footer
$vddBlue: hsl(212, 27%, 19%);
$vdgBlue: hsl(213, 9%, 39%);
$dgBlue: hsl(232, 10%, 55%);
$gBlue: hsl(210, 4%, 67%);

// Fonts
$textFont: 'Barlow'; // 600
$headerFont: 'Fraunces'; // 700, 900

// Breakpoints
$breakDesktop: 1440px;
$breakTablet: 768px;
$break550: 550px;
$break960: 960px;